<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>CipherMe</title>
</head>
<body>
  <section id="header">
    <div>
      <div class="logo">
        <a href="index.html" class="logo">&#169;&#237;&#960;h&#234;&#174; M&#235;</a>
      </div>
      <div class="options">
        <a href="zip.html" class="options">Zip</a>
        <a href="polyalphabeticCipher.html" class="options">Polyalphabetic Cipher</a>
        <a href="enigma.html" class="options"><span>&Sigma;</span>nigma</a>
      </div>
    </div>
  </section>
  <!-- <div>
    <h1 class="mainLogo"><span id="logoC">&#169;</span>&#237;&#8472;&#919;&#8706;&#8476; &#924;&#949;</h1>
  </div> -->
  <ul class="fly-in-text hidden" id="myLogo">
    <li>&#169;</li>
    <li>&#237;</li>
    <li>&#960;</li>
    <li>h</li>
    <li>&#234;</li>
    <li>&#174;</li>
    <li id="mInLogo">M</li>
    <li>&#235;</li>
  </ul>
  <div class="indexText invisible">
    <p>For centuries people wanted to make their messages unreadeble to all but those who knew how to read them. Many ciphers have been designed and some remained a mystery for centuries. Here you can discover thre ciphers and learn some interesting things about them. You can also encode your message if you want to keep the content secret. Happy exploring!</p>
  </div>

  <div class="navbar">

  </div>
  <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
